.top{
  background-color: #E4F9F5;
  padding-top: 100px;

}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 2.6rem auto 0 auto;
  line-height: 2;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
}
.devline{
  line-height: 2;
  margin-bottom: 40px;
}
.chickline{
  line-height: 2;
}

h3{
  color: #11999E;
}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

hr{
  border: dotted #CECFCF 7PX;
  width: 5%;
  border-bottom: none;
}
.profile{

width:50%;
margin: 60px auto 100px auto;
}
.web{
  line-height: 2;
}

.skills{
margin-top: 100px;
}
.bottomcloud{
  position:absolute;
  right: 1150px;
}
.topcloud{
  position: absolute;
  top: 70px;
  right: 200px;
}
.profilepic{
  height: 250px;
  width: 250px;
}
.chicken{

  width: 25%;
  float: right;
  margin-left: 40px;
}
.prog{

  width: 25%;
  float: left;
  margin-right: 40px;
}
.contact-me{
  margin: 100px auto 100px auto;
}
.contact-message{
  width:40%;
  margin: 60px auto 60px auto;
  line-height: 2;
}
.bottom-container{
padding: 50px 0 20px;
background-color: #66BFBF;
}
a{
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.last{
  margin-top: 20px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
